
html {
	background: white;
}
.navbar {
	position: relative;
	background-color: #34bbae;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	height: 50px;
	color: white;
	font-size: 1em;
}
.nav-container {
	position: absolute;
margin-left: 100px;
	max-width: 1200px;
	height: 50px;
}
.nav-btn {
	display: inline-block;
	background-color: #34aabb;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px 10px 5px 10px;
	margin-left: 10px;
	transition: background-color .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out;
	-webkit-transition: background-color .4s ease-in-out;
}
.nav-btn:hover {
	background-color: white;
	color: #34aabb;
}
.nav-text {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px 10px 5px 10px;
	margin-left: 10px;
}
.hashtag-container {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-bottom: 7px;
	min-width: 220px;
}
.hashtag-input {
	height: 25px;
	width: 200px;
}
.slideshow-btn {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(5%);
	font-size: 1em;
	color: white;
	background-color: #34bbae;
	border: 1px solid white;
	border-radius: 4px;
	padding: 0px 10px;
	height: 30px;
	margin-left: 5px;
	transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
	-webkit-transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
}
.slideshow-btn:hover {
	background-color: white;
	border-color: #34bbae;
	color: #34bbae;
}
.app-header {
	display: block;
	margin-top: 15px;
}
* {
    padding: 0;
    margin: 0;
}
.fit { /* set relative picture size */
 max-width: 100%;
 max-height: 100%;
}
.center {
 display: block;
 margin: auto;
}
.slide-container {
	position: relative;
	height: 640px;
	width: 640px;
	margin: auto;
}
.cycle-slideshow {
	position: absolute;
}

html, body {
	height: 100%;
}
.wrapper {
	overflow: hidden;
	max-width: 1100px;
}
.box {
	width: 16.66%;
	padding-bottom: 16.66%;
	color: #FFF;
	position: relative;
	float: left;
}
.inner-content {
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	bottom: 1px;
}



@media only screen and (max-width: 440px) {
	.box {
		width: 50%;
		padding-bottom: 50%;
	}
}
@media only screen and (min-width: 441px) and (max-width: 670px) {
	.box {
		width: 33%;
		padding-bottom: 33%;
	}
}
@media only screen and (min-width: 671px) and (max-width: 880px) {
	.box {
		width: 25%;
		padding-bottom: 25%;
	}
}

