
html {
	background: white;
}
.navbar {
	display: block;
	text-align: center;
	background-color: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	height: 50px;
	color: white;
	font-size: 17px;
}
.nav-container {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1055px;
	height: 50px;
}
.hash-icon {
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translateY(-40%);
}
.nav-btn {
	display: inline-block;
	background-color: none;
	color: #4080ff;
	position: relative;
	top: 50%;
	text-decoration: none;
	transform: translateY(-37%);
	padding: 4px 10px 4px 10px;
	border-radius: 4px;
	transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
	-webkit-transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
}
.nav-btn:hover {
	background-color: #4080ff;
	color: white;
}
.hamburger {
	position: relative;
	display: none;
	overflow: hidden;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	width: 50px;
	height: 50px;
	background: none;
	float: right;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.hamburger:hover {
	opacity: 0.5;
}
.hamburger.active {
	background-color: #bbb;
}
.hamburger span {
	position: absolute;
	display: block;
	top: 24px;
	left: 10px;
	right: 10px;
	height: 6px;
	background: #34baad;
	border-radius: 3px;
}
.hamburger.active span {
	background: none;
}
.hamburger span::before,
.hamburger span::after {
	position: absolute;
	display: block;
	width: 100%;
	height: 6px;
	background: #34baad;
	border-radius: 3px;
	content: "";
}
.hamburger span::before {
	top: -10px;
}
.hamburger.active span::before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.hamburger span::after {
	top: 10px;
}
.hamburger.active span::after {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#ham-menu {
	position: relative;
	text-align: right;
	list-style-type: none;
	background-color: #bbb;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	padding: 10px 10px 0px 10px;
	float: right;
	display: none;
}
#ham-menu.active {
	display: block;
}
.ham-btn {
	display: inline-block;
	color: white;
	position: relative;
	text-decoration: none;
	margin-bottom: 5px;
	transition: color .4s ease-in-out;
	-moz-transition: color .4s ease-in-out;
	-webkit-transition: color .4s ease-in-out;
}
.ham-btn:hover {
	color: #777;
}
.float-left {
	float: left;
	margin-left: 20px;
}
.float-right {
	float: right;
	margin-right: 5px;
}
.nav-text {
	display: inline-block;
	position: relative;
	width: 25%;
	top: 50%;
	font-size: 18px;
	text-align: right;
	color: #34baad;
	transform: translateY(-50%);
	padding: 10px 10px 5px 10px;
	margin-left: 10px;
}
.hashtag-container {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-bottom: 7px;
	min-width: 220px;
}
.hashtag-input {
	height: 25px;
	width: 200px;
}
.slideshow-btn {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(5%);
	font-size: 17px;
	color: #34baad;
	background-color: white;
	border: 1px solid white;
	border-radius: 4px;
	border-color: #34baad;
	padding: 0px 10px;
	height: 30px;
	margin-left: 5px;
	transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
	-moz-transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
	-webkit-transition: background-color .4s ease-in-out, border-color .4s ease-in-out, color .4s ease-in-out;
}
.slideshow-btn:hover {
	background-color: #34baad;
	border-color: white;
	color: white;
}
#app-header {
	display: block;
	margin: 12px 0px 7px 0px;
}
* {
    padding: 0;
    margin: 0;
}
.fit { /* set relative picture size */
 max-width: 100%;
 max-height: 100%;
}
.center {
 display: block;
 margin: auto;
}
.slide-container {
	width: 85%;
	max-width: 640px;
	text-align: center;
	margin: 0 auto;
}
.cycle-slideshow {
	display: block;
	width: 85%;
	max-width: 640px;
	margin: 0 auto;
}
.cycle-slideshow img {
	width: 100%;
	height: auto;
}
html, body {
	height: 100%;
}
.wrapper {
	overflow: hidden;
	max-width: 1100px;
}
.box {
	width: 16.66%;
	padding-bottom: 16.66%;
	color: #FFF;
	position: relative;
	float: left;
}
.inner-content {
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	bottom: 1px;
}
.footer {
	display: block;
	height: 20px;
}
.center-parent {
	width: 100%;
	text-align: center;
}
#profile-info {
	border-radius: 50%;
	overflow: hidden;
	margin: 20px auto;
	width: 246px;
	height: 246px;
}
#about-info {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	color: #555;
}
#portfolio-link {
	text-decoration: none;
	color: #4080ff;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 440px) {
	.box {
		width: 50%;
		padding-bottom: 50%;
	}
	.hashtag-input {
		width: 130px;
	}
}
@media only screen and (min-width: 441px) and (max-width: 670px) {
	.box {
		width: 33%;
		padding-bottom: 33%;
	}
	.hashtag-input {
		width: 150px;
	}
}
@media only screen and (max-width: 760px) {
	.nav-btn {
		display: none;
	}
	.hamburger {
		display: inline-block;
	}
}
@media only screen and (min-width: 671px) and (max-width: 880px) {
	.box {
		width: 25%;
		padding-bottom: 25%;
	}
}
@media only screen and (max-width: 880px) {
	.nav-text {
		width: auto;
	}
}
@media only screen and (max-width: 480px) {
	.nav-text {
		display: none;
	}
	.hashtag-container {
		transform: translateY(-35%);
	}
	.slide-container {
	width: 97%;
	}
.cycle-slideshow {
	width: 97%;
	}
}



