
<div class="navbar">
	<div class="nav-container">
		<img class="hash-icon float-left" src="images/favicon.png">
		<div class="nav-text">HASHTAG:</div>

		<form action="/slideshow" class="hashtag-container" ng-submit="submitTag()">
			<input type="text" class="hashtag-input" ng-model="inputHashtag"></input>
			<button type="submit" class="slideshow-btn">PLAY</button>
		</form>

		<div class="hamburger"><span></span></div>
		<a href="https://github.com/kabiondi/hash-slider" class="nav-btn float-right">FORK ON GITHUB</a>
		<a href="#" class="nav-btn float-right">ABOUT</a>
	</div>
</div>
<ul id="ham-menu">
	<li><a href="https://github.com/kabiondi/hash-slider" class="ham-btn">FORK ON GITHUB</a></li>
	<li><a href="#" class="ham-btn">ABOUT</a></li>
</ul>
<div id="app-header">
	<img class="center fit" src="images/header-image.png" alt="header-image">
	<div class="wrapper center"></div>
</div>
<div class="center-parent">
	<div id="profile-info"><img src="images/profile.png"></div>
	<div id="about-info">Kellen Biondi is a Front-End Developer based in Portland, OR</div>
	<br>
	<a href="www.kellenbiondi.com" id="portfolio-link">Portfolio: kellenbiondi.com</a>
</div>