
<div class="app-header">
	<img class="center fit" src="images/header-image.png" alt="header-image">
	<div class="wrapper center">

		<form action="/slideshow" class="hashtag-input" ng-submit="submitTag()">
			<input type="text" placeholder="Try a Hashtag" ng-model="inputHashtag"></input>
			<button type="submit" class="slideshow-btn">Run Slideshow</button>
		</form>
	</div>
</div>

<div class="wrapper center">
	<div class="box">
		<div class="inner-content">
			<img src="images/small-magnolia.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-yosemite.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-ferris-wheel.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-museum.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-food.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-pdx-carpet.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-cat.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-jumping.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-concert.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-wing.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-fruit-stand.png" class="fit center">
		</div>
	</div>
	<div class="box">
		<div class="inner-content">
			<img src="images/small-cappuccino.png" class="fit center">
		</div>
	</div>
</div>