
<div class="navbar">
	<a href="/"><img class="hash-icon float-left" src="images/favicon.png"></a>
	<div class="nav-text">HASHTAG:</div>
	<form action="/slideshow" class="hashtag-container" ng-submit="submitTag()">
		<input type="text" class="hashtag-input" placeholder="" ng-model="inputHashtag"></input>
		<button type="submit" class="slideshow-btn">PLAY</button>
	</form>
</div>
<div id="app-header">
	<img class="center fit" src="images/header-image.png" alt="header-image">
	<div class="wrapper center">
	</div>
</div>


